:root {
    /* pallet */
    --clr-3: #1e1e1e;
    --clr-2: #1d1d1d;
    --clr-1: #292929;
    --clr1: #4f4e4e;
    --clr2: #606060;
    --clr3: #818181;
    --clr4: #939292;
    --clr5: #c2c2c2;
    --clr6: #e1e0e0;
    --clr7: #e5e5e5;
    --clr8: #f8f8f8;
    --clr9: #ffffff;

    --blue: #516fad;
    --twiter: #179cf0;
    --green: #58c93a;
    /* BP */
    --l: 980px;
    --m: 800px;
    --s: 740px;
}

/* , usings ems
in context,
z-index for menu */

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: eurofurence;
    src: url('/fonts/eurofurence/eurofurence-regular.ttf');
}

@font-face {
    font-family: lato-reg;
    src: url('/fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('/fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('/fonts/fa/fa-brands-400.ttf');
}

/* BASICS  */

html {
    background-color: var(--clr-1);
    color: var(--clr2);
    font-family: lato-reg, sans-serif;
    /* line-height: 1.71428; */
}

body {
    margin: 0;
}

main {
    background-color: var(--clr9);
}

h2,
.paging-btns {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.75em;
    line-height: 1.875rem;
}

h2,
button {
    font-family: lato-bold, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


/* Buttons */

button,
.btn {
    color: var(--clr5);
    background-color: transparent;
    padding: 0.625em 1.5625em;
    border: 2px solid var(--clr5);
    cursor: pointer;
    font-size: 1em;
}

.btn-round {
    border-radius: 2em;
}

.btn-prev::before {
    content: " ← ";
}

.btn-next::after {
    content: " → ";
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-evenly {
    justify-content: space-evenly;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* icon helper */

.fa-brands {
    font-family: fa-brands;
}

.fa-brands .facebook::before {
    content: "\f39e"
}

.fa-brands .twitter::before {
    content: "\f099"
}

.fa-brands .behance::before {
    content: "\f1b4"
}

.fa-brands .dribbble::before {
    content: "\f17d"
}


/* hide */

.hide {
    display: none;
}


/* Layout */



.main-layout>*:not(.full) {
    margin-left: auto;
    margin-right: auto;
}

.cards-list {
    flex-direction: column;
}

.card-preview {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    padding-top: 80px;

}

.main-footer {
    background-color: var(--clr6);
    flex-direction: column;
    height: 19.6875rem;
}

.main-footer li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.preview-content>p:last-of-type {
    flex-grow: 1;
}

.main-nav li {
    position: relative;
}

.main-nav ul li>ul {
    background-color: var(--clr-1);
    flex-direction: column;
    transition: transform 1s, max-height 1s, opacity 0.4s;
    z-index: -1;
    width: 100%;
    max-height: 0;
    opacity: 0;
}

.main-nav li>ul a {
    height: auto;
    padding: 20px 10px;
}

.main-nav li>ul a:hover {
    box-shadow: none;
    background-color: var(--clr2);
}



/* COMPONENTS */

/* screen */

.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: opacity .6s;
    pointer-events: none;
}

body.menu-open .main-screen {
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}

body.menu-open button{
    pointer-events: none;
}

/* main-nav  */

.main-nav li.active > a{
    color: var(--green);
    box-shadow: inset 0 -7px 0px
}

.main-nav a {
    color: var(--clr9);
    font-family: lato-bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

    transition: box-shadow .6s;
}

.main-nav ul {
    flex-direction: column;
    background-color: var(--clr2);
    transition: transform .6s, box-shadow .6s;
}

.main-nav li {
    border-bottom: 2px solid rgb(255 255 255 / 36%);
}

body.menu-open .main-nav ul:not(.drop-down) {
    transform: translate(0);
    box-shadow: -6px 13px 18px 0px;
}




.main-nav a:hover {
    opacity: 0.7;
}

.nav button {
    padding: 0;
    border: 0;
    color: var(--clr8);
    background-color: inherit;
    font-size: 2em;
}

/* card */

.cards-list> :nth-child(3) {
    padding-bottom: 80px;
}

.card-preview button {
    position: relative;
    transition: padding .6s;
}

.card-preview button:hover {
    color: var(--green);
    border-color: var(--green);
    padding-inline-end: 2.5em;
}

.card-preview button:hover::after {
    content: "→";
    position: absolute;
    right: 1em;
}

.read-modal {
    position: fixed;
    z-index: 20;
    inset: 0;
    background-color: #4f4e4eab;
}

.read-modal .content-container {
    position: fixed;
    padding: 100px 41px;
    background-color: var(--clr7);
}

.read-modal form {
    flex-basis: 100px;
}

.read-modal .close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.read-modal button {
    color: var(--clr8);
    background-color: #292929;
    border: 0;
}

/* header  */

.main-header {
    color: var(--clr-2);
    box-shadow: inset 2px -8px 0;
}

/* logo */

.logo {
    font-size: 2.5rem;
    font-family: eurofurence;
    color: var(--green);
}

.logo span {
    color: var(--clr9);
}

.logo.dark span {
    color: var(--clr-1);
}


/* secondary-footer */

.secondary-footer {
    background-color: #fff;
}

.paging-btns {
    border: 1px solid var(--clr6);
    border-bottom: none;
}

.paging-btns button {
    color: var(--clr3);
    font-size: 1.125rem;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    padding-top: 31px;
    padding-bottom: 31px;
}

.btn-prev {
    padding-inline-start: 30px;
}

.btn-next {
    padding-inline-end: 30px;
}

/* main footer */

.main-footer {
    background-color: var(--clr8);
    border: 1px solid var(--clr6);
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-footer li {
    background-color: var(--clr7);
    margin-inline-start: 30px;
}


.main-footer i {
    color: var(--clr9);
}

.main-footer a {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer .facebook:hover {
    background-color: var(--blue);
}

.main-footer .twitter:hover {
    background-color: var(--twiter);
}

.main-footer .behance:hover {
    background-color: var(--blue);
}

.main-footer .dribbble:hover {
    background-color: brown;
}


/* Break points */

/* Mobile-Only */
@media (max-width:800px) {

    .main-nav a {
        width: 100%;
    }

    .main-nav a:hover {
        background-color: var(--clr1);
    }

    .card-preview {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-preview img {
        padding-bottom: 20px;
    }

    .main-header {
        padding-left: 20px;
        padding-right: 20px;

        position: fixed;
        z-index: 1;
        width: 100%;
        height: 7vh;
        background-color: var(--clr-1);
    }

    .read-modal .content-container {
        inset: 0;
    }

    .main-nav ul:not(.drop-down) {
        height: 100vh;
        position: fixed;
        z-index: 30;
        top: 0;
        right: 0;
        width: 300px;
        transform: translateX(150%);
    }

    .main-nav ul li.drop-down.active>ul {
        z-index: 10;
        max-height: 100vh;
        opacity: 1;
    }

}


/* Medium */
@media (min-width:800px) {
    .main-layout>*:not(.full) {
        width: var(--s);
    }

    main {
        display: flex;
        font-size: 12px;
    }

    .card-preview {
        flex-direction: row;
        padding-left: 0px;
        justify-content: flex-end;

        border-left: 1px solid var(--clr6);
        border-right: 1px solid var(--clr6);
    }

    .card-preview img {
        align-self: center;
        width: 50%;
    }

    .preview-content {
        padding-inline-start: 41px;
        padding-inline-end: 25px;
    }

    .main-nav a {
        border-left: 1px solid var(--clr-2);
        border-right: 1px solid var(--clr-2);
        font-size: 1em;
        background-color: var(--clr-1);

    }

    .main-nav a:hover {
        box-shadow: inset 0 -7px 0px #58c93a
    }


    .btn-menu {
        display: none;
    }

    .main-nav ul {
        flex-direction: row;
        background-color: inherit;
        position: relative;
        z-index: 10;
    }

    .main-nav ul>ul {
        position: absolute;
        bottom: 0;
    }

    section.nav {
        padding-inline-start: 0;
    }

    .main-nav li.drop-down:hover>ul {
        transform: translateY(100%);
    }

}

/* Large */
@media (min-width:1020px) {
    .main-layout>*:not(.full) {
        width: var(--l);
    }

    main {
        display: flex;
        font-size: 1rem;
    }

    .main-nav a {
        width: 130px;
        height: 130px;
    }
}